.image {
     /* left: 20px;
     right: 50px; */
     margin: 15px;
     padding: 0px;
     display: inline-block;  
    }

    .image img{
      height: 200px;
      width: 250px;
    }

    .select {
     position: absolute;
     top:500px;
     bottom:50px;
     font-size:30px;
     left: 350px;
     size: 100px;
     /* height: 10%;
     width: 20%; */
    }
 
    .place {
     position:absolute;
     top:50px;
     bottom: 50px;
     left:50px;
     right:50px;
    }